* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    color: #493e44;
    width: 300px;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 5%;
    padding: 2%;
    background: linear-gradient(144.08deg, #EBFEFF 21.01%, rgba(255, 244, 254, 0.567708) 54.93%, #ECFFEB 99.48%), linear-gradient(123.84deg, #E5E5E5 0.32%, #CDD5E0 32.08%, #CDD5E0 60.87%, #FFFFFF 95.61%);
    filter: drop-shadow(9px 9px 16px rgba(163, 177, 198, 0.6)), drop-shadow(-9px -9px 16px rgba(255, 255, 255, 0.6));
    box-shadow: -9px -9px 16px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 9px 9px 16px 0px rgba(163, 177, 198, 0.6);
}

h1 {
    font-size: 18px;
    color: #a58e9b;
}

.newBox {
    background-color: #ffffff88;
    color: #a58e9b;
    margin-top: 2rem;
    padding: 10px;
    border-radius: 10%;
    font-size: 14px;
}

.search-box {
    font-size: 14px;
    width: 100%;
    max-width: 200px;
    padding: 10px 15px;
    margin-bottom: 2rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid rgba(211, 211, 211, 0.226);
    color: #a58e9b;
}

.notification {
    background-color: #930000;
    display: none;
}

.notification p {
    color: #ffffff;
    font-size: 1.2em;
    margin: 0;
    padding: 5% 0;
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    font-size: 4em;
    cursor: pointer;
}

.temperature-value p:hover {
    color: #000000;
    font-weight: 400;
    font-size: 4.2em;
}

.temperature-value span {
    font-size: 0.5em;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    margin-top: 5px;
    font-size: 1.2em;
}

.location p {
    margin-top: 7px;
    padding: 0;
    font-size: 0.9em;
}