* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ffffff;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
        text-align: center;
    }
}

h1 {
    padding: 3rem 0 3rem 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.new-location {
    text-align: left;
    font-size: 1.2em;
    color: rgb(130, 130, 130);
    padding: 10%;

}

.search-box {
    font-size: 18px;
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border-radius: 10px;
    outline: none;
    border: 3px solid rgba(252, 205, 227, 0.568);
    color: #575757;
}

@media (max-width: 800px) {
    .new-location {
        text-align: center;
    }
}

/*  styles for the weather card */
.container {
    color: #4b4b4b;
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 5%;
    padding: 5% 0 5% 0;
    box-shadow: -9px -9px 16px rgba(172, 172, 172, 0.6);
}

.notification {
    background-color: #930000;
    display: none;
}

.notification p {
    color: #ffffff;
    font-size: 1.2em;
    margin: 0;
    padding: 5% 0;
}

.weather-icon {
    width: 300px;
    height: 128px;
}

.weather-icon img {
    display: block;
    margin: 0 auto;
}

.temperature-value {
    width: 300px;
    height: 60px;
}

.temperature-value p {
    padding: 0;
    margin: 0;
    font-size: 4em;
    cursor: pointer;
}

.temperature-value p:hover {
    color: #000000;
    font-weight: 400;
    font-size: 4.2em;
}

.temperature-value span {
    font-size: 0.5em;
}

.temperature-description p {
    padding: 8px;
    margin: 0;
    margin-top: 5px;
    font-size: 1.2em;
}

.location p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}